body {
  background-color: #b09ac9;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.business-card {
  width: 300px;
  background-color: #f8f2ff;
  padding: 20px;
  margin: 100px auto 0 auto;
  text-align: center;
  font-size: 16px;
}

.profile-image {
  max-width: 150px; /* adjust as needed */
  height: auto;
  border-radius: 10px; /* optional: rounds corners */
}
